{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1 class="text-center py-3 px-2 my-3 text-primary">Discover</h1>
    {% for profile in profiles %}
        <div class="card w-50 mx-auto my-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{ profile['picUrl'] }}" class="img-fluid rounded-start" style="height:100%;" alt="Profile Picture">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{ profile["name"] }}</h3>
                    <h5 class="card-subtitle">{{ profile["university"] }}</h5>
                    {% if profile["bio"]|length %}
                        <p class="card-text">{{ profile["bio"] }}</p>
                    {% else %}
                        <p class="card-text">This person's bio is empty.</p>
                    {% endif %}
                    
                    <div class="d-flex flex-row-reverse">
                      <a class="btn btn-danger btn-sm" href='/block?u={{ profile["id"] }}' role="button" style="margin:0.25rem"> Block</a>
                      <a class="btn btn-primary btn-sm" href='/message?u={{ profile["id"] }}' role="button" style="margin:0.25rem"> Message</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
{% endblock %}